<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SafeTrack - MVP</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50 text-gray-800">
    
    <nav class="bg-slate-900 text-white p-4 shadow-md">
        <div class="container mx-auto font-bold text-xl">
            SafeTrack 
        </div>
    </nav>

    <main class="container mx-auto mt-8 p-4">
        {% block content %}
        {% endblock content %}
    </main>

</body>
</html>